.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.services-title{
    text-align: center;
    color: cornflowerblue;
    /* transform: translate(50%,-50%); */
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: saddlebrown;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);

}
.con{
    margin-left: 140px;
    margin-right: 140px;
}
/* make our Direcotrs part responsive */

@media only screen and (max-width:576px){
    .services-container{
        grid-template-columns: repeat(1,1fr);
     
    }
    .con{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .services-container{
        grid-template-columns: repeat(2,1fr);
    }
    .con{
        margin-left: 80px;
        margin-right: 80px;
    }
}